// This file contains definitions for desktop css rules
@import 'shared';

// Shh...
* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}
html {
	height: 100%;
}
body {
	min-height: 100%;
	background-color: $default-background-color;
	font-family: $default-font-family;
	color: #DDD;
}

.button,
button,
input {
	cursor: pointer;
	text-decoration: none;
	text-align: center;
	font-family: $default-font-family;
	@extend .noselect;
	@include transition(background-color $animation-time-responsive $animation-style);
}
.hidden {
	display: none !important;
}
@import 'desktop/home';